@media (min-width: 400px) and (max-width: 700px) {
  .main_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.main_top {
  margin-top: 6rem;
}

.main_top>p>span{
  color: #E40813;
}